<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="marks" class="com.metacube.training.StudentMarks" >
		<property name="averageMarks">
			<map>
				<entry key="Ishita" value="75.8" />
				<entry key="Renu" value="55" />
				<entry key="Utkarsh" value="80" />
				<entry key="Ajay" value="64" />
			</map>
		</property>
	</bean>
</beans>