* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	padding: 20px 0px;
}

form {
    	padding: 30px 0px;
}

.container {
	width: 80%;
	margin: auto;
	padding: 20px 10px;
	background-color: #d8d8d8;
    	border-radius: 3px;
}

.row {
	display: flex;
	width: 100%;
	padding: 10px 0;
	flex-direction: row;
	flex-wrap: wrap;
}

.row div:first-child {
	padding-right: 30px;
	text-align: right;
	flex-basis: 40%
}

.input-field {
	display: flex;
    	border: 1px solid #afafaf;
   	border-radius: 3px;
}

.input-field input, select {
	padding: 5px;
    	width: 190px;
}

.input-field i {
	border: 1px solid #afafaf;
	border-right: 0px;
	text-align: center;
	padding: 5px 0px;
	margin: 0px;
	width: 40px;
}

.pen i {
    	padding-top: 15px; 
}

.btn {
    	background-color: #EC9832;
	width: 80px;
	border-radius: 3px;
	border: none;
	color: #ffffff;
	padding: 10px;
}

.btn i {
    	border: none;
}

.detail {
    	display: flex;
}

.heading {
    	font-weight: bold;
    	font-size: 25px;
}

.label {
    	font-weight: bold;
   	width: 30%;
    	text-align: right;
    	padding: 5px;
}

.value {
    	width: 50%;
    	text-align: left;
    	padding: 5px;
}
